h2	{text-align: center;
background-color: black;
width: 400px;
font-family: "fantasy",papyrus;
font-style:	normal;
font-size:	20px;
margin:	10px;
padding:	5px;
spacing:	20px;}

p {color: white;
  font-size:  20px;
  margin: 20px;
 }
a	{color:	white;}
a:link {
  text-decoration: none;
}

img {margin: 20px ;}
